### Symfony ###
/vendor/
/var/
/public/bundles/

### Environment ###
.env
.env.local
.env.local.php
.env.*.local

### Secrets ###
/config/secrets/prod/prod.decrypt.private.php

### IDE ###
.vscode/
.idea/

### OS ###
.DS_Store
Thumbs.db